@font-face{font-family:'Arial1';src:url('fonts/ARIAL.TTF')}
:root {
  --primary: #282A35;
}

html,body{
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-family: Arial, Arial1;
}

svg {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0px;
  padding: 0px;
  overflow: hidden;
  /*background-color: black;*/
}



.navbar-brand{
  font-size: x-large;
}
.doc-control-section {
  /* width: fit-content; */
}
.doc-control-section input, .doc-control-section select{
  width: 80px;
}

/* Start main-side style */
.main-side {
  border: 1px solid black; 
  position: relative;
}
.main-side .table-container {
  position: relative;
}
.main-side .table-container .tb-resize-bottom-cursor{
  position: absolute;
  z-index: 20;
  width: 10px;
  height: 10px;
  right: -10px;
  cursor: nwse-resize;
   background-color: #80808082; 
}
.main-side .table-container .tb-resize-top-cursor{
  position: absolute;
  z-index: 20;
  width: 10px;
  height: 10px;
  left: -10px;
  top: -10px;
  cursor: nwse-resize;
   background-color: #80808082; 
}
.main-side div.doc-container {
  position: absolute;
  width: calc(100% - 23px);
  z-index: 5;
}
.main-side .table {
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-size: 15px !important;
  line-height: 0;
}
.main-side .table>:not(caption)>*>*{
  padding: 0;
  vertical-align: middle;
}
#doc-background {
  opacity: 0.7;
}
.col-resizer {
    cursor: col-resize;
    user-select: none;

}
.row-resizer {
    cursor: row-resize;
    user-select: none;
}
.selected-td{
  background-color: #cdcdcd !important;
}
/* end main-side style */

/* Start demo code style */
.demo-code {
  width: 100%;
  background-color: rgb(30, 30, 30);
  max-height: 680px;
}
.demo-code .block-markdown__pre{
  color: rgb(156, 220, 254); 
}
/* end demo code style */